<div class="message__inner">

<%@message_user.each do |msg| %>
   <%=current_user.name = current_user.surname + " : " %>
  <%=msg.content %> <br>
  <% end %>
<%@message_recipient.each do |msg| %>
    <%=@recipient.name + @recipient.surname + " : "%>
    <%=msg.content %> <br>
  <% end %>
</div>



