<p>
  <p>Компанія Avtobazar.ua є безперечними експертами на ринку автомобілів</p>

  <p>Являємося компанією в Україні, що надає експертну, кваліфіковану оцінку та перевірку авто з-за кордону перед покупкою нашого клієнта.
    Ми пропонуємо Вам доставку авто з Америки/Європи, та найвигідніші пропозиції: авто з США, авто з Німеччини, авто з Швеції, машини з Голландії та з інших країн.</p>


<p>Ми працюємо без посередників. Тому ціна наших послуг одна з найнижчих на ринку б/у авто. Ексклюзивно для наших клієнтів ми надаємо закриту інформацію про компанію-продавця.</p>

  Ми професіонали і цінуємо прозорість та відкритість роботи з клієнтом. ЖОДНИХ прихованих платежів. Ми пропонуємо лише перевірені б/у авто. Наш експерт здійснює детальну перевірку машини перед покупкою, тому Ви можете бути впевнені у купленому авто. Наші фірми в США та Європі зроблять швидко та безпечно будь-яку процедуру: купівлі, доставки та оформлення документів.

  Надаємо повну інформацію про автомобіль (достовірний пробіг, кількість власників, чи потрапляла у ДТП, чи мала несправності) Карфакс. Ми знаємо кілька способів доставки авто в Україну. Ми є офіційними дилерами відкритих та закритих аукціонів Америки та Європи.
</p>

<p>Також ви можете залишати власні оголошеня про продажу свого автомобіля на нашосу сайті</p>
<p><%=link_to "Додати оголошення", new_car_path, class: 'btn btn-secondary' %></p>
