<div class="home_page_user">
  <div class="top_side">
    <div class="user_avatar"></div>
    <div class="top_side-right">
      <div class="user_full_name"><%=@user.name %> <%=@user.surname %></div>
    </div>
  </div>
  <div class="bottom_side" style="margin-top: 60px; text-align: center">
    <%=link_to "Редактировать профиль", edit_user_path(@user), class: "btn btn-primary"%>
  </div>
</div>